

body {
	font-family: 'Helvetica Neue';
	font-size: 12pt;
	background-color: #fefefe;
	text-align: center;
	margin:0;
	padding:2em;
}

input {
	background-color: white;
	border:1px solid #eee;
	font-size:10pt;
	padding: 0.5em 1em 0.5em 1em;
}

h1 {
	font-weight:300;
}